networks:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK}
volumes:
  npm-cache:
  pnpm-cache:
services:
  node-dev:
    user: ${HOST_UID:-1000}
    profiles:
      - runner-dev
    networks:
      - traefik
    build:
      target: stage_dev
      dockerfile: LauncherDockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
    volumes:
      - ${WSL_PATH_FOLDER_SOCLE_ROOT}/resources/docker/entrypoint/docker-entrypoint-node.sh:/usr/local/bin/docker-entrypoint
      - npm-cache:/npm-cache:rw
      - pnpm-cache:/pnpm-cache:rw
      - ~/.ssh:/home/admin/.ssh:ro
      - ~/.ssh:/root/.ssh:ro
    environment:
      NODE_ENV: "${NODE_ENV:-development}"
      NPM_CONFIG_CACHE: /npm-cache
  node-prod:
    user: ${HOST_UID:-1000}
    profiles:
      - runner-dev
    image: ${CLIENT}-${PROJECT}-${FOLDER_NAME}-${DOCKER_ENV}:${TAG_VERSION:-latest}
    env_file: "./projects/${CLIENT}/${PROJECT}/config/${FOLDER_NAME}.env"
    networks:
      - traefik
    build:
      target: stage_prod
      context: ${WSL_PATH_FOLDER_PROJECTS_ROOT}/${CLIENT}/${PROJECT}
      args:
        NODE_VERSION: ${NODE_VERSION}
        PROJECT: ${PROJECT}
        CLIENT: ${CLIENT}
    environment:
      NPM_CONFIG_CACHE: /npm-cache
    labels:
      - traefik.http.routers.${CLIENT}-${PROJECT}${FOLDER_NAME}-prod.rule=Host(`${URL_LOCAL_WEBSITE}`)
      - traefik.enable=true
      - traefik.http.services.${CLIENT}-${PROJECT}${FOLDER_NAME}-prod.loadbalancer.server.port=${PORT_NUMBER:-3000}
      - traefik.http.routers.${CLIENT}-${PROJECT}${FOLDER_NAME}-prod.tls=true
    volumes:
      - ${WSL_PATH_FOLDER_SOCLE_ROOT}/resources/docker/entrypoint/docker-entrypoint-node.sh:/usr/local/bin/docker-entrypoint
      - npm-cache:/npm-cache:rw
      - pnpm-cache:/pnpm-cache:rw
