# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=testsecret
APP_DEBUG=true
TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16



# Chemin absolu du projet sur l'hôte (pour Docker-in-Docker)
# Utilisé pour monter les volumes depuis l'hôte quand on lance docker compose depuis un container
#PROJECT_ROOT=/home/alex/workspace/dsf/soclev2-php

###> symfony/mercure-bundle ###
# URL interne (depuis le container PHP vers Mercure)
MERCURE_URL=http://mercure/.well-known/mercure
# URL publique (depuis le navigateur)
MERCURE_PUBLIC_URL=https://mercure.docker.localhost/.well-known/mercure
# Secret JWT (doit correspondre à celui du service Mercure)
MERCURE_JWT_SECRET="!ChangeThisMercureHubJWTSecretKey!"
###< symfony/mercure-bundle ###
# Version de PHP à utiliser
PHP_VERSION=8.4