<div class="mb-3">
    {{ form_label(form.version, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
    {{ form_widget(form.version, {'attr': {'class': 'form-control'}}) }}
    {{ form_help(form.version) }}
    {{ form_errors(form.version) }}
</div>
